*{
    font-family: 'Montserrat', monospace;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.header{
    background: rgba(255, 255, 255, 0.7);
    height: 75px;
    display:flex;
    justify-content: space-between;
}

.header-menu{
    margin-top: 20px;
}

.menu-item{
    
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color:#3B4144;
    opacity:0.5;
    margin-right: 40px;
}

.header-logo, .header-user{
    margin-top: 20px;
}

.logo-image{
    height:20px;
}

.logo-icon{
    height: 26px;
}

.btn{
    background: #D93C23;
    border-radius: 30px;
    color:#fff;
    padding:6px 24px;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    width: 131px;
    height: 32px;
    line-height: 16px;
    border-style: none;
    margin-left:24px;
}

.header-user{
    display:flex;
}

.name{
    color: #272727;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px; 
    margin-left: 24px;
}

.name-des{
    font-weight: 400;
    font-size: 12px;
    opacity: 0.5;
    text-align: right;
   
}

.user-img{
    height: 36px;
    border-radius: 24px;
    margin-right: 20px;
    margin-left:10px;
}

.slide{
    background-image: url('../images/slider.png');
    width: 80%;
    height: 390px;
    border-radius: 24px;
    margin: 0 auto;
    /* background-position: center; */
    background-repeat: no-repeat;
    display:flex;
    flex-flow: column;
    
}

.logo-slider{
    width: 350px;
    height: 48px;
    margin: 165px 250px 0 120px;
}

.logo-slider1{
    width: 350px;
    height: 28px;
    margin-left: 120px;
    margin-top: 10px;
}

.nav{
   margin: 36px auto;
   
}

.nav-item{
    margin-right: 56px;
    font-weight: 600;
    font-size: 18px;
    color: #3B4144;
}

.nav-item:hover{
    color: #007882;
}

.color{
    background: #007882;
    border-radius: 36px;
    color:#fff;
    padding: 6px 36px;
}
.color:hover{
    background: #ffffff;
}

.content{
    margin: 0 auto;
    width:50%
}

.tin-tuc{
    display:flex;
    align-items: center;
    margin:0 auto;
    margin-left: 300px;
}

.tin-new{
    font-weight: 700;
    font-size: 32px;
    margin-left: 30px;
}

.cnt-detail{
   
}

.cnt-1{
    height: 455px; 
    width:576px;
}

.cnt-title{
    font-weight: 600;
    font-size: 18px;
    color: #3B4144;
    line-height: 27px;
}

.cnt-des{
    display:flex;
    line-height: 22px;
}

.xa-hoi{
    font-weight: 600;
font-size: 14px;
color: #007882;
}
.cnt-tin-tuc{
    display:flex;
    margin-top: 40px;
}

.cnt-name{
    font-weight: 400;
font-size: 15px;
color: #3B4144;
}

.cnt-day{
    font-weight: 400;
font-size: 15px;
color: #3B4144;
opacity: 0.5;
}

.cnt-chinh{
    font-weight: 400;
font-size: 16px;
line-height: 28px;
color: #3B4144;
opacity: 0.5;
}

.cnt-2{
    margin-left:24px;width: 336px;
}

.cnt-box1{
    border-radius: 24px;
    height: 220px;
    border-radius: 24px;
}

.video{
    margin-top: 56px;

}

.video-title{
    display: flex;
    justify-content: space-between;
}

.v-head{
    font-weight: 600;
    font-size: 18px;
    color: #3B4144;
    line-height: 27px;
    display: flex;
}

.v-last{
    font-weight: 400;
    font-size: 15px;
    color: #3B4144;
    line-height: 27px;
}

.video-detail{
    display: flex;
    margin-top: 24px;
}

.v-box2{
    margin-left: 24px;
}

.v-title {
    font-weight: 600;
    font-size: 14px;
    color: #3B4144;
    line-height: 17px;
}
.v-list{
    font-weight: 600;
    font-size: 18px;
    color: #3B4144;
    line-height: 27px;
    display: flex;
    margin-top: 56px;
}
.li-detail{
    display: flex;
}

.li-des{
    padding-top:60px;
    margin-left: 24px;
}


.more-text{
    font-weight: 600;
    font-size: 16px;
    border: 1px solid #3B4144;
    width: 168px;
    height: 20px;
    text-align: center;
    padding: 20px;
    line-height: 0px;
    border-radius: 70px;
    margin: 80px auto;
}

.tin-chi-tiet{
    margin-top: 70px;
    width: 935px;
}

.tin-dir{
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #D93C23;
}

.chuyen-muc{
    justify-content: space-between;
}

.item-chuyen-muc{
    font-weight: 600;
    font-size: 18px;
    color: #fff;
}

.item-chuyen-muc:hover{
    background: #3B4144;;
}

.title-chi-tiet{
    margin-top: 60px;
    font-weight: 700;
    font-size: 30px;
    line-height: 48px;
    color: #3B4144;
}

.img-chi-tiet{
    margin-top: 36px;
}

.des-chi-tiet{
    margin-top: 36px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #3B4144;
}

.chi-tiet-anh{
    display: flex;
    margin-top: 36px;
}

.ct-anh{
    margin-left: 24px;
}

.ct-anh2{
    margin-top: 24px;
}

.text-title{
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #3B4144;
}
.text-title{
    margin: 36px 0 16px 0;
}
.text-pra{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #3B4144;
}
.text-li{
    margin-left: 16px;
}

.text-li-nd{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #3B4144;
    margin-top: 10px;
}

.key{
    display: flex;
}
.key1{
    margin-top: 36px;
    margin-right: 10px;
    font-weight: 400;
    font-size: 15px;
    border: 1px solid #3B4144;
    width: 168px;
    height: 20px;
    text-align: center;
    padding: 20px;
    line-height: 0px;
    background: #E6E6E6;
    border-radius: 36px;
}